@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* a {
  text-decoration: none;
}

body {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  backdrop-filter: blur(20px);
  flex-direction: row;
  display: flex;
  animation: loading 2s linear forwards;
}
@keyframes loading {
  from {
    opacity: 0;
    transition: ease-in-out 600ms;
  }
  to {
    opacity: 1;
  }
}
.menu {
  border-right: #252525 solid 1px;
  width: 200px;
  height: 1130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  justify-content: space-between;
  gap: 50px;
  position: sticky;
  top: 5px;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 260px;
}
.logo div {
  background-image: url("../logo.svg");
  height: 150px;
  width: 150px;
  background-size: contain;
  transition: ease-in-out 600ms;
}
.logo div:hover {
  background-image: url("../logo red.svg");
  box-shadow: black 4px 10px 10px;
  border-radius: 50%;
  background-size: cover;
  width: 170px;
  height: 170px;
}
.toggle a {
  font: normal 30px "Poppins", serif;
  color: #131313;
  padding: 20px;
  text-decoration: none;
}
div a:hover {
  color: #000000;
}
.toggle {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
}
.toggle a::after {
  content: "";
  display: block;
  position: revert;
  width: 0%;
  height: 3px;
  background-color: red;
}
.toggle a:hover::after {
  width: 100%;
  transition: ease-in-out 600ms;
}
.linkedin {
  background-image: url("../2959747_employment_business_linkedin_work_icon.png");
  height: 50px;
  width: 50px;
  background-size: contain;
  transition: ease-in-out 600ms;
}
.linkedin:hover {
  background-image: url("../RED_employment_business_linkedin_work_icon.svg");
  background-size: cover;
  box-shadow: black 4px 10px 10px;
  border-radius: 10px;
}
.mainIntroduce {
  display: flex;
  justify-self: center;
  align-self: center;
  flex-grow: 2;
  text-align: center;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
  margin: 20px;
  align-content: space-between;
  position: relative;
}
.Baharan {
  width: 42.7vw;
  height: 60vh;
  background-image: url("IMG-20210215-WA0047.jpg");
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: left;
  left: 10px;
  position: relative;
  text-shadow: black 4px 10px 10px;
  transition: all 0.3s ease-in-out;
  font: 400 30px "Poppins", normal;
  color: #ffffff;
}
h1 {
  padding: 60% 0px 0px 16px;
  position: absolute;
  text-align: center;
  z-index: 10;
  color: white;
}
.BartLens h1 {
  padding: 30% 0px 0px 16px;
  position: absolute;
  text-align: center;
  z-index: 10;
  color: white;
}
.Roshano {
  width: 42.7vw;
  height: 60vh;
  background-image: url("Enscape_2023-09-25-16-17-21.jpeg");
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  position: relative;
  text-shadow: black 4px 10px 10px;
  transition: all 0.3s ease-in-out;
  font: 400 30px "Poppins", normal;
  color: #ffffff;
}
.Canada {
  width: 42.7vw;
  height: 60vh;
  background-image: url("06.jpg");
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  position: relative;
  text-shadow: black 4px 10px 10px;
  transition: all 0.3s ease-in-out;
  font: 400 30px "Poppins", normal;
  color: #ffffff;
}
.Draft {
  width: 42.7vw;
  height: 60vh;
  background-image: url("images.jpg");
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  position: relative;
  text-shadow: black 4px 10px 10px;
  transition: all 0.3s ease-in-out;
  font: 400 30px "Poppins", normal;
  color: #ffffff;
}
.bim {
  width: 42.7vw;
  height: 60vh;
  background-image: url("photo1712566651.jpeg");
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  position: relative;
  text-shadow: black 4px 10px 10px;
  transition: all 0.3s ease-in-out;
  font: 400 30px "Poppins", normal;
  color: #ffffff;
}
.conceptual {
  width: 42.7vw;
  height: 60vh;
  background-image: url("Enscape_2024-07-08-23-38-37.png");
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  position: relative;
  text-shadow: black 4px 10px 10px;
  transition: all 0.3s ease-in-out;
  font: 400 30px "Poppins", normal;
  color: #ffffff;
}
.BartLens {
  width: 100%;
  height: 60vh;
  background-image: url("1722965324681.jpeg");
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  position: relative;
  text-shadow: black 4px 10px 10px;
  transition: all 0.3s ease-in-out;
  font: 400 30px "Poppins", normal;
  color: #ffffff;
}
.mainIntroduce a:hover::after {
  transform: translate(-50%, -50%);
  cursor: pointer;
  background: black;
  width: inherit;
  height: 60vh;
  align-content: center;
  font-size: 20px;
  position: fixed;
  left: 50%;
  top: 50%;
  color: white;
  text-shadow: black 4px 10px 10px;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  z-index: 2;
  backdrop-filter: blur(5px);
  text-align: center;
  text-overflow: fade;
}
.mainIntroduce a.Baharan:hover::after {
  content: " I designed a 4,100 m² commercial-residential landmark in Tehran's Chitgar neighborhood, integrating BIM Revit, 3D modeling, and energy-efficient lighting to blend functionality, aesthetics, and innovation.";
}
.mainIntroduce a.Roshano:hover::after {
  content: " I contributed as an architect to the Roshano Project, a multifunctional children's space combining entertainment, education, and leisure, leveraging Grasshopper to create sustainable, minimalistic, and functional designs.";
}
.mainIntroduce a.Canada:hover::after {
  content: "I modeled the project in Revit and render it in Lumion ";
}
.mainIntroduce a.Draft:hover::after {
  content: "I modeled the project in revit export it as pdf and in photoshop postporduct it. ";
}
.mainIntroduce a.conceptual:hover::after {
  content: "I modeled the project in Revit and render it in Lumion ";
}
.mainIntroduce a.bim:hover::after {
  content: "I modeled the project in Rhino SubD and with the help of grasshopper and lumion complete it. ";
}
.mainIntroduce a.BartLens:hover::after {
  content: "I modeled the project in Rhino and made an animation in Lumion ";
}

.mainIntroduce a:hover {
  transform: scale(1.02);
}

.mainIntroduce a:hover::after {
  opacity: 0.5;
}
