@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
* a{
    text-decoration: none;
}

body{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    backdrop-filter: blur(20px);
    flex-direction: row;
    display: flex;
    animation: loading 2s linear forwards ;
}
@keyframes loading{
    from{
        opacity: 0;
        transition: ease-in-out 600ms;
    }
    to{
        opacity: 1;
    }

}
.menu{
    border-right: #252525 solid 1px;
    width: 200px;
    HEIGHT: 1130PX;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    justify-content: space-between;
    gap: 50px;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 260px;
}
.logo div{
    background-image: url("../logo.svg");
    height: 150px;
    width: 150px;
    background-size: contain;
    transition: ease-in-out 600ms;
}
.logo div:hover{
    background-image: url("../logo red.svg");
    box-shadow: black 4px 10px 10px;
    border-radius: 50%;
    background-size: cover;
    width:170px ;
    height: 170px;
}
.toggle a{
    font: normal 30px "Poppins" , serif;
    color: #131313;
    padding: 20px;
    text-decoration: none;
}
div a:hover{
    color: #232323;
    text-shadow: 2px 2px 20px rgba(110, 104, 104, 0.74);

}
.toggle{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
}
.toggle a::after{
    content: "";
    display: block;
    position: revert;
    width: 0%;
    height: 3px;
    background-color: #3c3c3c;

}
.toggle a:hover::after{
    width: 100%;
    transition: ease-in-out 600ms;
}
.linkedin{
    background-image: url("../2959747_employment_business_linkedin_work_icon.png");
    height: 50px;
    width: 50px;
    background-size: contain;
    transition: ease-in-out 600ms;
}
.linkedin:hover{
    background-image: url("../RED_employment_business_linkedin_work_icon.svg");
    background-size: cover;
    box-shadow: black 4px 10px 10px;
    border-radius: 10PX;
}
.mainIntroduce{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    justify-content: center;
    flex-grow: 2;
    text-align: center;
}
h1 {
    background-image: url("profile image.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 23vw;
    height: 50vh;
    align-self: center;
    border-radius: 50%;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.25) 5px 5px 8px ;
}
h2{
    opacity: 0;
    text-align: center;
    font: normal 100px "Poppins" , serif;
    animation: textMovementh2-3 2s ease-in-out  forwards;
    animation-delay: 0.3s;
    background-size: cover;
    background-clip: text;
    color: #171717;
}
P{
    opacity: 0;
    text-align: center;
    padding: 10px 600px;
    line-height: 50px;
    font: normal 25px "Poppins" , serif;
    animation: textMovementh2-3 2s ease-in-out  forwards;
    animation-delay: 0.6s;
    background-size: cover;
    background-clip: text;
    margin-bottom: 30px;
    color: #171717;
    height: 200px;

}
@keyframes textMovementh2-3 {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}
